.selection {
  position: relative;
  display: flex;
  flex-flow: row;

  .selection-switch {
    flex-basis: 15%;

    .selection-switch_icon {
      width: 100%;
    }
  }

  .selection-select {
    width: 100%;
  }
}

#text {
  width: 100%;
  min-width: 100%;
  height: max-content;
  max-height: 270px;
  min-height: 100px;
  max-width: 100%;
}

.webtop {
  color: #333333;
  text-size-adjust: 100%;
  font-weight: 400;
  font-size: 16px;
  display: block;

  .headword {
    font-size: 1.7rem;
    font-weight: 600;
    display: inline-block;
    margin: 0rem 0rem 0rem 0rem;
    color: #1a3561;
  }

  .pos {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    margin: 0rem 0rem 0rem 0.25rem;
    color: #333333;
  }

  .symbols {
    margin: 0.5rem 0rem 0.5rem 0rem;

    a {
      display: inline-block;
      background-repeat: no-repeat;
      line-height: 1.5rem;
      min-width: 3rem;
      vertical-align: middle;
      cursor: pointer;
      margin: 0rem 0.5rem 0rem 0rem;
      text-decoration: none;
      color: #004aac;

      .ox5ksym_a1,
      .ox5ksym_a2,
      .ox5ksym_b1,
      .ox5ksym_b2,
      .ox5ksym_c1,
      .ox5ksym_c2 {
        margin-right: 0px;
      }

      span {
        display: inline-block;
        background-repeat: no-repeat;
        line-height: 1.5rem;
        min-width: 3rem;
        vertical-align: middle;
        cursor: pointer;

        &.opal_symbol {
          display: inline-block;
          background-color: #526983;
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          border-radius: 50px;
          padding: 0px 15px;
          color: #ffffff;
          line-height: 1.5rem;
          font-weight: 600;
          font-size: 14px;
          -webkit-transition: background-image 100ms linear;
          -o-transition: background-image 100ms linear;
          transition: background-image 100ms linear;

          &:hover {
            background-color: #3f5064;
          }
        }
      }
    }
  }

  .phonetics {
    div {
      margin-bottom: 2px;
      margin-top: 2px;

      div {
        display: inline-block;
        height: 1.75rem;
        width: 1.75rem;
        background-repeat: no-repeat;
        background-position: left top !important;
        background-size: 100%;
        vertical-align: middle;
        font-size: 14px;
      }

      .pron-uk,
      .pron-uk.icon-audio {
        background-image: url(/materials/imgs/audio_bre_initial.svg);

        &:hover {
          background-image: url(/materials/imgs/audio_bre_playing.svg);
          -webkit-transition: background-image 100ms linear;
          -o-transition: background-image 100ms linear;
          transition: background-image 100ms linear;
        }
      }

      .pron-us,
      .pron-us.icon-audio {
        background-image: url(/materials/imgs/audio_name_initial.svg);

        &:hover {
          background-image: url(/materials/imgs/audio_name_playing.svg);
          -webkit-transition: background-image 100ms linear;
          -o-transition: background-image 100ms linear;
          transition: background-image 100ms linear;
        }
      }

      .phon {
        font-family: "Lucida Sans Unicode", "Lucida Grande";
        font-size: 1rem;
        font-weight: 400;
        color: #333333;
      }

      .sep {
        margin: 0rem;
      }
    }
  }

  .variants {
    font-style: italic;
    color: #6f6f6f;
    margin: 0rem 0rem 0.5rem 0rem;
  }

  .inflections {
    color: #6f6f6f;
  }

  .variants,
  .inflections {
    .eb,
    .v-g,
    .inflected_form {
      font-weight: 600;
      font-style: normal;
      color: #1a3561;

      .labels {
        color: #6f6f6f;
        font-style: italic;
        font-weight: 400;
      }
    }
  }

  .jumplinks {
    display: none;
  }

  .grammar {
    color: #6f6f6f;
    font-weight: 400;
  }

  .labels {
    color: #6f6f6f;
    font-style: italic;
    font-weight: 400;
  }

  .collapse {
    background-color: #faded7;
    border-left: 0.1875rem solid #f08b6e;
    margin: 0.5rem 0rem 0.5rem 0rem;
    display: inline-block;
    width: 100%;

    .unbox {
      -webkit-transition: all 2s;
      -o-transition: all 2s;
      transition: all 2s;

      .box_title {
        display: block;
        padding: 0.5rem 1rem 0.5rem 1rem;
        font-size: 1.125rem;
        cursor: pointer;
        -webkit-transition: background-color 100ms linear;
        -o-transition: background-color 100ms linear;
        transition: background-color 100ms linear;

        &:hover {
          background-color: #faded7;
        }

        &::before {
          background-position: center top;
          background-position: center bottom;
          width: 14px;
          height: 14px;
          background-image: url(/materials/imgs/icon-plus-minus-orange.png);
          background-size: 100% auto;
          content: "";
          display: inline-block;
          margin-right: 12px;
          position: relative;
          top: 1px;
        }
      }

      .body,
      table {
        display: none;
      }
    }

    .is-active {
      .box_title {
        background-position: center top;
      }

      .body {
        padding: 1rem;
        background-color: #fdf3f0;
        display: block;
      }

      table {
        display: inherit;
      }
    }
  }
}

.verb_form {
  font-weight: 600;
  color: #1a3561;
  display: block;
}

tr.verb_form {
  margin: 0.5rem 0rem;
}

table td {
  vertical-align: middle;
  font-weight: normal;
}

.vf_prefix {
  font-weight: 400;
  font-style: normal;
  color: #333333;
}

.ox5ksym_a1,
.ox5ksym_a2,
.ox5ksym_b1,
.ox5ksym_b2,
.ox5ksym_c1,
.ox5ksym_c2,
.ox3ksym_a1,
.ox3ksym_a2,
.ox3ksym_b1,
.ox3ksym_b2,
.ox3ksym_c1,
.ox3ksym_c2 {
  &:hover {
    -webkit-transition: background-image 100ms linear;
    -o-transition: background-image 100ms linear;
    transition: background-image 100ms linear;
  }
}

.ox3ksym_a1,
.ox3ksymsub_a1 {
  background-image: url(/materials/imgs/ox3000_a1.svg);

  &:hover {
    background-image: url(/materials/imgs/ox3000_a1_hover.svg);
  }
}

.ox3ksym_a2,
.ox3ksymsub_a2 {
  background-image: url(/materials/imgs/ox3000_a2.svg);

  &:hover {
    background-image: url(/materials/imgs/ox3000_a2_hover.svg);
    -webkit-transition: background-image 100ms linear;
    -o-transition: background-image 100ms linear;
    transition: background-image 100ms linear;
  }
}

.ox5ksym_a1,
.ox5ksymsub_a1 {
  background-image: url(/materials/imgs/ox5000_a1.svg);

  &:hover {
    background-image: url(/materials/imgs/ox5000_a1_hover.svg);
  }
}

.ox5ksym_a2,
.ox5ksymsub_a2 {
  background-image: url(/materials/imgs/ox5000_a2.svg);

  &:hover {
    background-image: url(/materials/imgs/ox5000_a2_hover.svg);
  }
}

.ox3ksym_b1,
.ox3ksymsub_b1 {
  background-image: url(/materials/imgs/ox3000_b1.svg);

  &:hover {
    background-image: url(/materials/imgs/ox3000_b1_hover.svg);
  }
}

.ox3ksym_b2,
.ox3ksymsub_b2 {
  background-image: url(/materials/imgs/ox3000_b2.svg);

  &:hover {
    background-image: url(/materials/imgs/ox3000_b2_hover.svg);
  }
}

.ox5ksym_b1,
.ox5ksymsub_b1 {
  background-image: url(/materials/imgs/ox5000_b1.svg);

  &:hover {
    background-image: url(/materials/imgs/ox5000_b1_hover.svg);
  }
}

.ox5ksym_b2,
.ox5ksymsub_b2 {
  background-image: url(/materials/imgs/ox5000_b2.svg);

  &:hover {
    background-image: url(/materials/imgs/ox5000_b2_hover.svg);
  }
}

.ox3ksym_c1,
.oxksymsub_c1 {
  background-image: url(/materials/imgs/ox3000_c1.svg);

  &:hover {
    background-image: url(/materials/imgs/ox3000_c1_hover.svg);
  }
}

.ox3ksym_c2,
.ox3ksymsub_c2 {
  background-image: url(/materials/imgs/ox3000_c2.svg);

  &:hover {
    background-image: url(/materials/imgs/ox3000_c2_hover.svg);
  }
}

.ox5ksym_c1,
.ox5ksymsub_c1 {
  background-image: url(/materials/imgs/ox5000_c1.svg);

  &:hover {
    background-image: url(/materials/imgs/ox5000_c1_hover.svg);
  }
}

.ox5ksym_c1,
.ox5ksymsub_c1 {
  background-image: url(/materials/imgs/ox5000_c1.svg);

  &:hover {
    background-image: url(/materials/imgs/ox5000_c1_hover.svg);
  }
}

.container {
  padding: 7px;
}

.top {
  padding: 0;
  margin-bottom: 7px;
}
.text {
  padding: 7px;
  border: 1px solid #adadad;
  border-radius: 4px;
  box-shadow: inset 0px 1px 2px 0px #d2d2d2;
  transition: cubic-bezier(0.4, 0, 1, 1) 0.1s;
  font-size: 14px;
  transition-property: box-shadow;

  &:focus {
    outline: 0;
    border: #059cff 1px solid;
    box-shadow: inset 0 0 1px 0px #41e3fd, 0 0 5px #00e7ff;
  }
}

.actions {
  text-align: right;
  margin: 7px 0 0;

  .button-happy {
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    background: #00a1ff;
    border: 1px solid #bcdbdc;
    font-size: 16px;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: -1px 1px 4px 0px #839eff8c;

    &:focus {
      outline: 0;
    }

    &:hover {
      background: #0085d4;
    }
  }
}

.box {
  padding: 0;
  padding-top: 10px;
  // user-select: none;

  .inner-box {
    margin: 0;
    border: 1px solid #989898;
    border-radius: 4px;
    background: white;
    position: relative;

    .field-name {
      padding: 0 5px 5px;
      font-size: 16px;
      font-weight: bold;
    }

    .dictlick {
      display: none;
      position: absolute;
      top: 3px;
      right: 4px;
      background-color: white;
      padding: 0 5px;
      font-size: 13px;
      cursor: pointer;
      user-select: none;

      &:after {
        background-image: url(/materials/imgs/external-link-icon.png);
        background-repeat: no-repeat;
        height: 15px;
        width: 15px;
        vertical-align: middle;
        margin-left: 5px;
        content: "";
        position: relative;
        top: -1px;
        display: inline-block;
        background-size: contain;
      }
    }

    .active {
      display: block;
    }

    .field-content {
      .result-header {
        color: #0d3880;
        font-size: 18px;
        font-weight: bold;
      }
      .didyoumean {
        font-size: 13px;
        line-height: 2;
        margin: 1px 3px;
      }
      .result-list {
        list-style: initial;
        padding-left: 25px;
        margin: 2px 0px;

        li {
          padding: 1px 0;
          font-size: 14px;
        }
      }
    }
  }
}

html {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Track */
  ::-webkit-scrollbar-track-piece:hover {
    background: blue;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    cursor: pointer;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  // ::-webkit-scrollbar-corner {
  //   background: pink;
  // }

  // ::-webkit-resizer {
  //   background: palevioletred;
  // }
}
